* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}



main {
    width: 100%;
    height: 100%;
    background: #000;
    color: rgb(153, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vw;
}

h1 {
    width: 80%;
    font-size: 3vw;
    /* text-align: center; */
}